* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #F5F4F2;
}

._marked-blue {
  font-weight: 500;
  color: #2794DB;
}

._marked-red {
  font-weight: 500;
  color: #EB4B51;
}

.status_approved {
  width: fit-content;
  padding: 8px 16px 8px 36px;
  position: relative;
  font-weight: 600;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 22px;
  background-color: #F2FAF0;
  color: #64B851;
}

.status_denied {
  width: fit-content;
  padding: 8px 16px 8px 36px;
  position: relative;
  font-weight: 600;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 22px;
  background-color: #FAF0F0;
  color: #EB4B51;
}

.card {
  width: 1200px;
}
.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 225px;
  max-height: 700px;
  flex-wrap: wrap;
  padding: 15px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}
.card__wrapper .card-info {
  margin-right: 10%;
}
.card__wrapper .card-info__title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #383736;
}
.card__wrapper .card-info .card-list {
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 10px 40px;
  list-style: none;
}
.card__wrapper .card-info .parameter-title {
  font-size: 0.75rem;
  color: #989691;
}
.card__wrapper .card-info .parameter-value {
  font-weight: 500;
  font-size: 0.875rem;
  color: #383736;
}
.card__wrapper .card-info__status {
  margin-top: 10px;
  display: flex;
}
.card__wrapper .card-info__status .status {
  font-size: 0.75rem;
}
.card__wrapper .card-info__status > :first-child {
  margin-right: 16px;
}
.card__wrapper .card-info__status .status_approved:before, .card__wrapper .card-info__status .status_denied:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card__wrapper .card-info__status .status_approved:before {
  width: 12px;
  height: 9px;
  left: 7%;
  background-image: url(../img/svg/check-i.svg);
}
.card__wrapper .card-info__status .status_denied:before {
  width: 11px;
  height: 11px;
  left: 5%;
  background-image: url(../img/svg/cross-i.svg);
}
.card__wrapper .card-order {
  position: relative;
  min-height: 160px;
}
.card__wrapper .card-order:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F0EEEB;
}
.card__wrapper .card-order__text {
  line-height: 20px;
  font-size: 0.875rem;
  color: #989691;
}
.card__wrapper .card-order__price {
  margin: 2px 0 12px 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #383736;
}
.card__wrapper .card-order__button {
  display: block;
  margin-top: 22px;
  padding: 12px 50px 12px 75px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 6px;
  background-color: #FAC62D;
  color: #383736;
}
.card__wrapper .card-order__button:hover {
  background-color: #F0B505;
}
.card__wrapper .card-order__button:active {
  background-color: #E1AB08;
}
.card__wrapper .card-order__button:before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/svg/key-icon.svg);
}
.card .close__button {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 16px;
  right: 16px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.card .close__button:hover {
  background-color: #F5F4F2;
}
.card .close__button:hover:before, .card .close__button:hover:after {
  background-color: #383736;
}
.card .close__button:active {
  background-color: #E7E4DE;
}
.card .close__button:active:before, .card .close__button:active:after {
  background-color: #383736;
}
.card .close__button:before, .card .close__button:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 2px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  background-color: #C4C4C4;
}
.card .close__button:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.card .close__button:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Media Queries */
@media screen and (max-width: 1270px) {
  .card__wrapper {
    padding: 15px;
  }
  .card__wrapper .card-info {
    margin-right: 5%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 1195px) {
  .card__wrapper {
    padding: 15px;
  }

  .card-info {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media all and (max-width: 1040px) {
  .card-info__status {
    flex-direction: column;
  }
  .card-info__status > :first-child {
    margin-bottom: 10px;
  }

  .card__wrapper .card-info {
    margin-left: 0;
  }

  .card-order {
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  .card-order .card-order__text:last-of-type {
    flex-grow: 1;
  }
}
@media all and (max-width: 925px) {
  .card__wrapper {
    min-height: 315px;
  }
  .card__wrapper .card-info .card-list {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 40px);
  }
}
@media all and (max-width: 885px) {
  .card__wrapper {
    padding: 30px;
  }
  .card__wrapper .card-icon {
    align-self: baseline;
    margin-right: 5%;
  }
  .card__wrapper .card-info {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .card__wrapper .card-order {
    width: 100%;
    height: 160px;
  }
  .card__wrapper .card-order:before {
    width: 100%;
    height: 1px;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
  }
  .card__wrapper .card-order__button:before {
    left: 38%;
    top: 50%;
    transform: translateY(-50%);
  }

  .card-info__status {
    flex-direction: row;
  }
  .card-info__status > :first-child {
    margin-bottom: 0;
  }
  .card-info__status .card-order__text:last-of-type {
    flex-grow: 0;
  }
}
@media all and (max-width: 755px) {
  .card-order__button:before {
    left: 35% !important;
  }
}
@media all and (max-width: 680px) {
  .card__wrapper {
    min-height: 720px;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
  }
  .card__wrapper .card-icon {
    align-self: auto;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .card-info__status {
    flex-direction: column;
  }
  .card-info__status > :first-child {
    margin-bottom: 8px;
  }
}
@media all and (max-width: 590px) {
  .card-order__button:before {
    left: 30% !important;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media all and (max-width: 420px) {
  html {
    font-size: 15px;
  }

  .card__wrapper .card-order__button {
    font-size: 0.8rem;
  }

  .card-order__button:before {
    left: 24% !important;
    top: 50%;
    transform: translateY(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
