$gray-0: #FFFFFF;
$gray-40: #F5F4F2;
$gray-50: #F0EEEB;
$gray-100: #E7E4DE;
$gray-200: #CCCAC5;
$gray-300: #B2B0AB;
$gray-400: #989691;
$gray-450: #989691;
$gray-750: #383736;
$success-20: #F2FAF0;
$success-500: #64B851;
$error-20: #FAF0F0;
$error-500: #EB4B51;
$blue-500: #2794DB;
$primary-500: #FAC62D;
$primary-700: #F0B505;
$primary-800: #E1AB08;